<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="element/index.css">
    <script src="element/vue.js"></script>
    <script src="element/axios.js"></script>
    <script src="element/index.js"></script>
    <script src="stork/common.js"></script>
    <title>登录</title>

    <style>
        body {
            background-color: #b3dcec;
        }
    </style>
</head>

<body>

    <div id="app">
        <el-container>
            <el-main>
                <el-row>
                    <el-col>
                        <div style="margin-top: 30%;margin-left: auto;margin-right: auto;width: 75%;">
                            <el-card>
                                <div slot="header" class="clearfix">“三水”协同移动端</div>
                                <el-form>
                                    <el-form-item label="">
                                        <el-input placeholder="账号（手机号）" v-model="login.username"></el-input>
                                    </el-form-item>
                                    <el-form-item label="">
                                        <el-input type="password" placeholder="密码" v-model="login.password"></el-input>
                                    </el-form-item>
                                    <el-button @click="loginSubmit" type="primary" style="width: 100%;">登 录</el-button>
                                </el-form>
                            </el-card>
                        </div>
                    </el-col>
                </el-row>
            </el-main>

        </el-container>
    </div>

    <script src="login.js"></script>


</body>

</html>