<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="stork/common.css">
  <link rel="stylesheet" href="element/index.css">

  <script src="bootstrap/js/bootstrap.js"></script>
  <script src="element/vue.js"></script>
  <script src="element/axios.js"></script>
  <script src="element/index.js"></script>
  <script src="stork/common.js"></script>
  <title>河长</title>
</head>

<body>
  <div id="app">
    <!-- 顶端bar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <img src="img/logo.png" alt=""> <span class="title"></span>
      </div>
    </nav>

    <!-- 底端bar -->
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <ul class="nav navbar-nav">
        <li :class="func === 'event' ? 'active' : ''"><a href="#" @click="func='event'">采样送样事件</a></li>
        <li :class="func === 'trace' ? 'active' : ''"><a href="#" @click="func='trace'">送检追踪</a></li>
        <li :class="func === 'report' ? 'active' : ''"><a href="#" @click="func='report'">检验报告</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" style="margin-right: 15px;">
        <li :class="'navbar-right ' + (func === 'mine' ? 'active' : '')"><a href="#" @click="func='mine'">我的资料</a></li>
      </ul>
    </nav>
    <div class="container-fluid" style="margin-top: 72px;">
      <el-container>

        <!-- 采样取样事件 -->
        <div v-show="func === 'event'">
          <el-card style="margin-bottom: 20px;">
            <div slot="header" class="clearfix">
              芳草园水站 采样#5
              <el-tag type="success" size="mini" style="float:right">已发布</el-tag>
            </div>
            <p>任务信息</p>
            <p>限定送达时间： 11-30 15:00 （4小时22分钟）</p>
            <el-form>
              <el-button type="primary" size="small" @click="dialogVisible=true">下发取样任务</el-button>
            </el-form>


          </el-card>
          <el-card style="margin-bottom: 20px;">
            <div slot="header" class="clearfix">
              美湖园排污口 采样#1
              <el-tag type="danger" size="mini" style="float:right">待发布</el-tag>
            </div>
            <p>任务信息</p>
            <p>限定送达时间： 11-30 16:00 （5小时11分钟）</p>
            <el-form>
              <el-button type="primary" size="small" @click="dialogVisible=true">下发取样任务</el-button>
            </el-form>

          </el-card>
          <el-card style="margin-bottom: 20px;">
            <div slot="header" class="clearfix">
              团泊支路排污口 采样#3
              <el-tag type="danger" size="mini" style="float:right">待发布</el-tag>
            </div>
            <p>任务信息</p>
            <p>限定送达时间： 11-30 16:00 （5小时11分钟）</p>
            <el-form>
              <el-button type="primary" size="small" @click="dialogVisible=true">下发取样任务</el-button>
            </el-form>

          </el-card>
        </div>

        <!-- 送检跟踪 -->
        <div v-show="func === 'trace'">
          <el-card style="margin-bottom: 20px;">
            <div slot="header" class="clearfix">
              芳草园水站 任务#5
            </div>
            <p>目前站点： 芳草园水站</p>
            <p>派发时间： 11-30 15:00 （4小时22分钟）</p>
            <p>送样人： 芳草园</p>
            <p>进度： 送样中</p>
          </el-card>
          <el-card style="margin-bottom: 20px;">
            <div slot="header" class="clearfix">
              美湖园排污口 任务#1
            </div>
            <p>目前站点：美湖园排污口</p>
            <p>派发时间： 11-30 15:00 （4小时22分钟）</p>
            <p>美湖园</p>
            <p>进度：送样中</p>
          </el-card>
          <el-card style="margin-bottom: 20px;">
            <div slot="header" class="clearfix">
              团泊支路排污口 任务#3
            </div>
            <p>团泊支路排污口</p>
            <p>派发时间： 11-30 15:00 （4小时22分钟）</p>
            <p>送样人：团泊支路</p>
            <p>进度：送样中</p>
          </el-card>
        </div>
        <!-- 检验报告 -->
        <div v-show="func === 'report'">
          <el-card style="margin-bottom: 20px;">
            <div slot="header" class="clearfix">
              芳草园水站 任务#5
            </div>
            <p>派发事件： 11-30 15:00 （4小时22分钟）</p>
            <p>完成事件： 11-30 15:00 （4小时22分钟）</p>
            <p>送样人： 芳草园</p>
            <p>进度： 送样中</p>
          </el-card>
          <el-card style="margin-bottom: 20px;">
            <div slot="header" class="clearfix">
              美湖园排污口 任务#1
            </div>
            <p>派发时间： 11-30 15:00 （4小时22分钟）</p>
            <p>完成事件： 11-30 15:00 （4小时22分钟）</p>
            <p>送样人：美湖园</p>
            <p>进度：送样中</p>
          </el-card>
          <el-card style="margin-bottom: 20px;">
            <div slot="header" class="clearfix">
              团泊支路排污口 任务#3
            </div>
            <p>派发时间： 11-30 15:00 （4小时22分钟）</p>
            <p>完成事件： 11-30 15:00 （4小时22分钟）</p>
            <p>送样人：团泊支路</p>
            <p>进度：送样中</p>
          </el-card>
        </div>

        <!-- 我的资料 -->
        <div v-show="func === 'mine'">
          <el-form :model="myprofile" label-width="80px">
            <el-form-item label="姓名">
              {{ myprofile.name }}
            </el-form-item>
            <el-form-item label="电话号码">
              <span v-if="profileMode != 'modify'">{{ myprofile.telephone }}</span>
              <el-input v-show="profileMode == 'modify'" v-model="myprofile.telephone"></el-input>
            </el-form-item>
            <el-form-item label="身份权限">
              {{ myprofile.role }}
            </el-form-item>
            <el-form-item>
              <el-button v-if="profileMode != 'modify'" @click="profileMode = 'modify'">修改</el-button>
              <el-button v-show="profileMode == 'modify'" @click="profileMode = 'show'" type="primary">保存</el-button>
            </el-form-item>
          </el-form>
        </div>

        <!-- 弹窗 -->
        <el-dialog :visible.sync="dialogVisible" width="60%" :before-close="handleClose">
          <p>选择取样人员</p>
          <el-form>
            <el-form-item>
              <el-select v-model="shaffUname" filterable placeholder="请选择">
                <el-option v-for="m in shaffUnames" :key="m.id" :label="m.name" :value="m.id" />
              </el-select>
            </el-form-item>
          </el-form>
          <el-button type="primary" size="small" @click="dialogVisible = null">确认取样</el-button>
          <el-button size="small" @click="dialogVisible = null">取 消</el-button>
        </el-dialog>
      </el-container>
    </div>

  </div>
  <script src="river-chief.js"></script>
</body>

</html>